@font-face {
    font-family: 'KoddiUD OnGothic';
    font-style: normal;
    font-weight: normal;
    src: url('https://webfonts.assets.zerogyun.dev/fonts/KoddiUDOnGothic/KoddiUDOnGothic-Regular.eot');
    src: url('https://webfonts.assets.zerogyun.dev/fonts/KoddiUDOnGothic/KoddiUDOnGothic-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://webfonts.assets.zerogyun.dev/fonts/KoddiUDOnGothic/KoddiUDOnGothic-Regular.woff2') format('woff2'),
    url('https://webfonts.assets.zerogyun.dev/fonts/KoddiUDOnGothic/KoddiUDOnGothic-Regular.woff') format('woff'),
}
@font-face {
    font-family: 'KoddiUD OnGothic';
    font-style: normal;
    font-weight: bold;
    src: url('https://webfonts.assets.zerogyun.dev/fonts/KoddiUDOnGothic/KoddiUDOnGothic-Bold.eot');
    src: url('https://webfonts.assets.zerogyun.dev/fonts/KoddiUDOnGothic/KoddiUDOnGothic-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://webfonts.assets.zerogyun.dev/fonts/KoddiUDOnGothic/KoddiUDOnGothic-Bold.woff2') format('woff2'),
    url('https://webfonts.assets.zerogyun.dev/fonts/KoddiUDOnGothic/KoddiUDOnGothic-Bold.woff') format('woff'),
}
@font-face {
    font-family: 'KoddiUD OnGothic';
    font-style: normal;
    font-weight: 900;
    src: url('https://webfonts.assets.zerogyun.dev/fonts/KoddiUDOnGothic/KoddiUDOnGothic-ExtraBold.eot');
    src: url('https://webfonts.assets.zerogyun.dev/fonts/KoddiUDOnGothic/KoddiUDOnGothic-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('https://webfonts.assets.zerogyun.dev/fonts/KoddiUDOnGothic/KoddiUDOnGothic-ExtraBold.woff2') format('woff2'),
    url('https://webfonts.assets.zerogyun.dev/fonts/KoddiUDOnGothic/KoddiUDOnGothic-ExtraBold.woff') format('woff'),
}
