@font-face {
    font-family: 'KoPub Dotum';
    font-style: normal;
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/gh/CXZ7720/kopub-world/fonts/KoPubWorldDotumPL.eot');
    src: url('https://cdn.jsdelivr.net/gh/CXZ7720/kopub-world/fonts/KoPubWorldDotumPL.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/CXZ7720/kopub-world/fonts/KoPubWorldDotumPL.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/CXZ7720/kopub-world/fonts/KoPubWorldDotumPL.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/CXZ7720/kopub-world/fonts/KoPubWorldDotumPL.ttf') format('truetype');
}
@font-face {
    font-family: 'KoPub Dotum';
    font-style: normal;
    font-weight: 500;
    src: url('https://cdn.jsdelivr.net/gh/CXZ7720/kopub-world/fonts/KoPubWorldDotumPM.eot');
    src: url('https://cdn.jsdelivr.net/gh/CXZ7720/kopub-world/fonts/KoPubWorldDotumPM.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/CXZ7720/kopub-world/fonts/KoPubWorldDotumPM.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/CXZ7720/kopub-world/fonts/KoPubWorldDotumPM.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/CXZ7720/kopub-world/fonts/KoPubWorldDotumPM.ttf') format('truetype');
}
@font-face {
    font-family: 'KoPub Dotum';
    font-style: normal;
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/CXZ7720/kopub-world/fonts/KoPubWorldDotumPB.eot');
    src: url('https://cdn.jsdelivr.net/gh/CXZ7720/kopub-world/fonts/KoPubWorldDotumPB.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/CXZ7720/kopub-world/fonts/KoPubWorldDotumPB.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/CXZ7720/kopub-world/fonts/KoPubWorldDotumPB.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/CXZ7720/kopub-world/fonts/KoPubWorldDotumPB.ttf') format('truetype');
}